.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__list-heading {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features__list-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  width: 270px;
  height: 75px;
  padding-top: 10px;
}

.features__list-icon {
  width: 70px;
  height: 70px;
}
.features__list-part {
  width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
}
.features__list .features__list-item {
  width: 270px;
}

.features__list .features__list-item:not(:last-child) {
  margin-right: 30px;
}
