.section {
  padding-bottom: 94px;
}

.section__list {
  display: flex;
  flex-wrap: wrap;
}

.section__list:not(:last-child) {
  margin-right: 30px;
}

.section__list-item {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.section__list-item:not(:last-child) {
  margin-right: 30px;
}

.section__list-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
