.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 206px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
  transition: background-color 250ms linear, color 250ms linear;
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}
.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms linear;
}
